@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

button {
    cursor: pointer;
}

#loader-container {
    @extend %flex-center;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.878);
    animation: fadeOut 4s forwards;
    z-index: 1;

    #loader {
        border: 4.5px solid rgba(113, 113, 113, 0.139); 
        border-right: 4.5px solid #FF79DA;
        border-left: 4.5px solid #FF79DA;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        animation: spin 3s linear infinite;
        background-color: #99e2d072;
    }
}

@keyframes spin {
    0% { 
        transform: rotate(0deg); 
        opacity: 1 
    }

    100% {
        transform: rotate(360deg);
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1
    }
    100% { 
        opacity: 0;
        z-index: -1; 
    }
}

h2 {
  font-size: 1.7rem;
  font-weight: 900;
  margin: 0;
}

p {
  margin: 0;
}

header {
  box-shadow: 0 1px 10px -3px grey;
  position: relative;

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5rem 0;
  }
}

#location-explore {
    form {
        background-color: #eaeaea;
        height: 50px;
      }
      i {
        margin-right: 15px;
      }

      .input {
        border: none;
        background-color: #eaeaea;
        font-size: 1.1rem;

        &:focus {
            outline: none;
        }
      }
} 

#location,
#explore {
    @extend %flex-center;
}

#explore {
  flex-direction: column;
  text-align: center;
  background-color: #f6f6f6;
  padding: 2rem 0 7rem 0;
  position: relative;

  h2 {
    padding: 2rem 3rem;
  }

  p {
    font-size: 1.2rem;
    font-weight: lighter;
    padding: 0 2rem 2rem 2rem;
  }

  button {
    position: absolute;
    bottom: 1rem;
    margin-bottom: 2rem;
    border: none;
    border-radius: 50px;
    background: linear-gradient(to top, #9356DC -11.44%, #FF79DA 123.93%);
    color: #fff;
    font-size: 1.1rem;
    font-weight: bold;
    height: 60px;
    width: 70vw;
    box-shadow: 0px 4px 10px 0px #00000049;
    transition: all 0.5s ease;
}

.btn2 {
    background: linear-gradient(to top, #cf81fc 0%, #fc87d5 100%);
    opacity: 0;

    &:hover {
        opacity: 1;
    }
}  
}

#fonctionnement,
#restaurants {
  padding: 4rem 1.5rem;
}

#fonctionnement-cards {
  @extend %flex-center;
  flex-direction: column;

  .card {
    display: flex;
    align-items: center;
    width: 95%;
    height: 70px;
    margin: 2rem 0 0 0;
    border-radius: 20px;
    background-color: #f6f6f6;
    font-size: 1.2rem;
    box-shadow: 0px 4px 15px 0px #00000026;
    position: relative;
    cursor: pointer;

    &:hover{
        .fa-solid {
            color: #9747ff !important;
        } 
      }

      p:first-child {
        @extend %flex-center;
        background-color: #9747ff;
        color: #fff;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        position: absolute;
        left: -1rem;
      }

      i {
        padding: 30px;
      }
  }
}

#restaurants {
  background-color: #f6f6f6;
}

#restaurants-cards {
    .card {
        border-radius: 20px;
        margin-top: 1rem;
        position: relative;
      
        a {
          text-decoration: none;
          color: #000;
        }
    } 

    img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .card-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        padding: 1rem 1.7rem 1rem 1rem;
        font-size: 1.2rem;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;

        p {
            &:first-child {
                font-weight: bold;
                margin-bottom: 0.4rem;
              }

            &:nth-child(2) {
                font-weight: lighter;
              }
        }
        .fa-heart {
            position: absolute !important;
            right: 25px;
            transition: all 0.2s ease-out;
        }

        .fa-solid {
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            opacity: 0;
            background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);

            &:hover {
                opacity: 1;
            }
        }
      }

      i {
        padding: 0;
        font-size: 1.5rem;
        position: relative;
      }
}

.gradient-path:hover {
  fill: url(#custom-gradient);
  stroke: none;
} 

.nouveau {
  font-size: 1.1rem;
  text-align: center;
  padding: 0.5rem;
  width: 25%;
  background-color: #99e2d0;
  color: #008766;
  border-radius: 3px;
  box-shadow: 0px 4px 15px 0px #00000026;
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
}

footer {
  background-color: #353535;
  color: #fff;
  padding: 1.5rem;

  svg {
    width: 100px;
    margin-bottom: 0.5rem;
  }

  div {
    display: flex;
  }

  i {
    margin-right: 1.2rem;
    width: 10px;
  }

  p {
    margin-bottom: 0.5rem;
  }

  a {
    text-decoration: none;
    color: inherit;
}
}

@media (min-width: 767.98px) {

    #explore button {
        width: 40%
    }

    #fonctionnement {
        padding-left: 5rem;
        padding-right: 5rem;
    }

    #fonctionnement-cards .card {
        width: 70%;
      }
}

@media (min-width: 1024px) {
    #explore {
        h2 {
            font-size: 2rem;
            padding-top: 0;
          }
          button {
            width: 30%;
          }
    } 
    
      #fonctionnement {
        padding-left: 15rem;
        padding-right: 15rem;
      }
    
      #fonctionnement-cards {
        flex-direction: row;
        justify-content: space-between;

        .card {
            width: 50%;
            margin-right: 3rem;
          }

          .card:nth-child(3) {
            margin-right: 0;
          }
      }
        
      #restaurants {
        padding-left: 15rem;
        padding-right: 15rem;
      }
    
      #restaurants-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .card {
            width: 47%;
          }

        .card:first-child {
            margin-bottom: 2rem;
          }
      }
            
      footer {
        display: inline-flex;
        width: 100vw;
        height: 5rem;
        position: relative;
        padding-right: 0;
        padding-left: 0;
        align-items: end;

        svg {
            position: absolute;
            right: 3rem;
            padding-top: 2rem;
          }

        .fa-utensils {
            margin-left: 40vw;
          }  
      } 
    
      footer div,
      footer p {
        margin-top: 2rem;
        margin-right: 2rem;
      }
    
      footer p:nth-child(1),
      footer p:nth-child(2) {
        margin-top: 0;
      } 
}